@model real.Models.Contact
@{
    ViewData["Title"] = "Ajax";
}  
@section Scripts{
                <script src="~/js/rest.js"> </script>
            }
<button onclick="getall()">getAll</button>
    <button onclick="get()">get</button>
        <button onclick="post()">Post</button>
            <button onclick="put()">Put</button>
            <button onclick="Delete()">Delete</button>
        
